<div class="bg-[#0f0e17] text-white h-fit py-10 px-6">
  <h1 class="text-2xl font-bold mb-6">{{ formTitle }}</h1>

  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="space-y-6 max-w-2xl w-full"
  >
    <ng-container *ngFor="let input of inputs">
      <!-- Text Input -->
      <div
        *ngIf="
          input.type === 'text' ||
          input.type === 'email' ||
          input.type === 'password' ||
          input.type === 'number' ||
          input.type === 'tel' ||
          input.type === 'url' ||
          input.type === 'search'
        "
      >
        <label class="block text-sm font-medium text-gray-300 mb-1">
          {{ input.label }} <span *ngIf="input.required">*</span>
        </label>
        <input
          [placeholder]="input.placeholder || ''"
          [formControlName]="input.key"
          [type]="input.type"
          [readonly]="input.readonly || false"
          class="w-full bg-[#1c1b29] border border-[#2e2c44] text-white rounded px-3 py-2 placeholder-gray-500 focus:outline-none focus:ring focus:ring-purple-500"
        />
      </div>

      <!-- Select -->
      <div *ngIf="input.type === 'select'">
        <label class="block text-sm font-medium text-gray-300 mb-1">
          {{ input.label }} <span *ngIf="input.required">*</span>
        </label>
        <select
          [formControlName]="input.key"
          class="w-full bg-[#2a2940] border border-[#3f3d56] text-white rounded px-3 py-2 focus:outline-none"
        >
          <option *ngFor="let opt of input.options" [value]="opt.value">
            {{ opt.label }}
          </option>
        </select>
      </div>

      <!-- Textarea -->
      <div *ngIf="input.type === 'textarea'">
        <label class="block text-sm font-medium text-gray-300 mb-1">
          {{ input.label }} <span *ngIf="input.required">*</span>
        </label>
        <textarea
          [placeholder]="input.placeholder || ''"
          [formControlName]="input.key"
          rows="4"
          class="w-full bg-[#2a2940] border border-[#3f3d56] text-white rounded px-3 py-2 placeholder-gray-500 focus:outline-none focus:ring focus:ring-purple-500"
        ></textarea>
      </div>

      <!-- Image Upload -->
      <div *ngIf="input.type === 'image'">
        <label class="block text-sm font-medium text-gray-300 mb-1">
          {{ input.label }} <span *ngIf="input.required">*</span>
        </label>
        <app-upload-input
          [imageKey]="input.key"
          [formGroup]="form"
          [parentItem]="form.value"
          [formControlName]="input.key"
        ></app-upload-input>
      </div>

      <!-- variation -->
      <div *ngIf="input.type === 'variation' && itemCollectionId">
        <!-- <pre>{{initialData | json}}</pre> -->
        <label class="block text-sm font-medium text-gray-300 mb-1">
          {{ input.label }} <span *ngIf="input.required">*</span>
        </label>
        <app-item-variation
          [itemCollectionId]="itemCollectionId"
          [formGroup]="form"
          [formControlName]="input.key"
          [itemId]="initialData?.id || 0"
        ></app-item-variation>
      </div>
    </ng-container>
    <!-- Buttons -->
    <div class="flex justify-end gap-3 pt-4 flex-col sm:flex-col flex-col">
      <button
        *ngIf="cancelLabel"
        type="button"
        (click)="cancel()"
        class="px-4 py-2 rounded bg-gray-700 text-white hover:bg-gray-600"
      >
        {{ cancelLabel }}
      </button>
      <button
        [ngClass]="submitClass"
        type="submit"
        [disabled]="form.invalid"
        class="px-4 py-2 rounded bg-green-600 hover:bg-green-700 text-white"
      >
        {{ submitLabel || "Save" }}
      </button>
      <div
        *ngIf="redirect && redirect.url && redirect.label"
        class="mt-4 text-center"
      >
        <a
          [routerLink]="redirect.url"
          class="text-sm text-blue-400 hover:underline"
        >
          {{ redirect.label }}
        </a>
      </div>
    </div>
  </form>
</div>
