<section
  class="w-full min-h-[80vh] bg-[var(--gray-light)] py-20 flex justify-center items-center"
>
  <div class="max-w-2xl w-full px-4">
    <app-dynamic-form
      formTitle="Login to Your Account"
      [inputs]="formInputs"
      submitLabel="Login"
      [redirect]="{
        label: 'Don\'t have an account? Sign up',
        url: '/register'
      }"
      submitClass="w-full bg-[var(--primary)] text-white rounded-md px-4 py-2 font-medium hover:bg-opacity-90 transition duration-200"
      (submitted)="onLogin($event)"
      (rightIconClicked)="togglePasswordVisibility()"
    />
  </div>
</section>
