<section
  class="w-full min-h-[80vh] bg-[var(--primary)] py-20 flex justify-center items-center"
>
  <div class="max-w-2xl w-full mx-auto px-4">
    <app-dynamic-form
      formTitle="Create a New Account"
      [inputs]="formInputs"
      submitLabel="Sign Up"
      [redirect]="{
        label: 'Already have an account? Login',
        url: '/login'
      }"
      submitClass="w-full bg-[#1c1b29] text-white rounded px-4 py-2 hover:bg-[#2a2940] transition-colors duration-200"
      (submitted)="onSignUp($event)"
    />
  </div>
</section>
